title {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}

.iot-panel {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 25%;
    margin-top: 15px;
    width: 50%;
}

.delay-slider {
    width: 250px;
    margin:0 auto;
    padding-bottom: 2%;
}

#delayThreshold {
    float: right;
    margin-top: -20px;
}